#map { height: 590px; background-color:#E1F1F0; }

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 800px;
    margin: 0 auto;    
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 250px;
    font-size: 1.5em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.latlng,
.player .lng,
.player .lat { 
font-size: 0.5em; 
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}



.todo {
    float: right;
}

#login-buttons-logout {
    margin-right: 10px;
}




.popup-name { 
    font-size: 10px;
}


h1.title { color: black; padding-right: 20px; }

body {
  font-family: "Tahoma";
}

#chat label {
  margin-left: 12px;
  display: inline;
  font-size: 22px;
  font-weight: bold;
}

#chat {
  height: 366px;
  width: 366px;
  position: absolute;
  top: 130px;
  right: 50px;
  background: rgba(166, 178, 197, 0.6);
  border-radius: 15px;
}

#chat-messages {
  background: rgba(166, 178, 197, 0.6);
  width: 342px;
  height: 310px;
  overflow: scroll;
  padding: 0px 10px 10px 10px;
  border: 1px #ccc solid;
  border-radius: 15px;
}

#chat p {
    margin: 0;
}

#input-status { 
    width: 260px; 
    float: right;
    margin-right: 15px;
}

.footer-container {
    padding: 0 50px 50px;
}

#last-commit {
    float: right;
}

#top-float {
    position: fixed;
    top: 0;
    left: 20px;
}

#top-float a,
.footer-container a {
    color: #c77;
    text-decoration: none;
    font-weight: bold;
}

.header-container {
    padding: 4px 14px;
}

h2 {
    padding-top: 15px;
}

.leaflet-popup-content {
    text-align: center;
}


#login-info {
    margin-left: 200px;
}


#todo {
    min-height: 800px;
}