<template name="about">
<div id="about">
<h2><a href="#about">About</a></h2>

Everwhe.re is real-time geolocation combined with known locations of friends.  You can already find your existing FB friends. And we'll make it easy to be introduced to friends of friends, globally - and to introduce friends to other friends.  Ever found out a week later that one of your friends was in the same city as you?
Everwhe.re is foremost a tool for people who move around a lot.  People with many friends across the globe, who often also move around a lot.  It makes it much easier to meet your moving friends again.

The real-time part is already there in the form of a chat but we need critical mass to turn it into a more useful tool.

        everwhe.re is being built by <a href="http://guaka.org/">guaka</a>, inspired by <a href="https://github.com/citizenlogistics/ceml">groundcrew</a>, <a href="http://www.triphopping.com/">triphopping</a>, <a href="http://www.benkler.org/Benkler_Wealth_Of_Networks.pdf">benkler</a> etc etc.
        It is based on <a href="http://meteor.com/">meteor</a>.
</div>
</template>
